name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CXX: clang++-18
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: cmake -B build -DCMAKE_BUILD_TYPE=Debug && cmake --build build

      - name: Test
        run: ctest --test-dir build --output-on-failure
